body {
  background: url(images/mainbackground.jpg);
  background-size: cover;
}
form input {
  width : 100%;
  display: block;
  margin: 10px 0;
}

.repliedDiv{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

form {
  background: #D9D9D9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 90px;
  font-family: 'Inter', sans-serif;
}

form input[type="submit"] {
  background-color: #84CEEB;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 25%;
  margin: 0 auto;
  color: black;
  font-weight: bold;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

#login {
  margin-left: auto;
  margin-right: auto;
  width: 284px;
  height:69px;
}

#unRepliedWrapper {
  background: #ccc;
  overflow: hidden;
}

#repliedWrapper {
  background: #ccc;
  overflow: hidden;
}

#unrepliedstyle {
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: bold;
}

#repliedstyle {
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: bold;
}

#unrepliedbtn {
  background-color: white;
  border-radius: 5px;
  color: black;
}

#repliedbtn {
  background-color: white;
  border-radius: 5px;
  color: black;
}